---
import { formatDate } from "@/utils/helpers";
import { getTagClasses } from "@/utils/classNames";
import type { ProjectAnnouncementActivity } from "@/types";

interface Props {
  item: ProjectAnnouncementActivity;
}

const { item } = Astro.props;
---

<div
  class="flex-grow border bg-muted/30 p-4 rounded-md transition-all hover:shadow-md hover:border-primary/50"
>
  <h3 class="text-xl font-bold mb-2">{item.title}</h3>
  {
    item.details && (
      <p class="text-sm text-muted-foreground mb-4">{item.details}</p>
    )
  }

  <div class="mb-4">
    <h4 class="text-sm font-semibold mb-2">Key Features:</h4>
    <ul class="list-disc list-inside text-sm space-y-1">
      {item.projectFeatures.map((feature) => <li>{feature}</li>)}
    </ul>
  </div>

  <div class="flex items-center justify-between mb-4">
    <a
      href={item.socialMedia.link}
      target="_blank"
      rel="noopener noreferrer"
      class="text-sm text-primary hover:underline inline-flex items-center"
    >
      <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" aria-hidden="true">
        <path
          fill="currentColor"
          d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
        ></path>
      </svg>
      <span class="hidden sm:inline">{" "} Announced by{" "}</span>
      <span class="ml-1">
        {item.socialMedia.username}
      </span>
    </a>
    <a
      href={item.callToAction.link}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block bg-primary text-primary-foreground px-4 py-2 rounded-md text-sm font-medium hover:bg-primary/90 transition-colors"
    >
      {item.callToAction.text}
    </a>
  </div>

  <div class="flex flex-wrap items-center justify-between">
    <div class="flex flex-wrap gap-2 mb-2 sm:mb-0">
      {
        item.tags.map((tag) => (
          <span class={`text-xs px-2 py-1 rounded-full ${getTagClasses(tag)}`}>
            {tag}
          </span>
        ))
      }
    </div>
    <p class="text-xs text-muted-foreground">{formatDate(item.date)}</p>
  </div>
</div>
