---
import BackTo from "@/components/BackTo.astro";
import CounterscaleScript from "@/components/CounterscaleScript.astro";
import TOC from "@/components/TOC.astro";
import "@/styles/globals.css";
import "@fontsource-variable/figtree";

interface Props {
  title: string;
  description: string;
  author: string;
  backTitle?: string;
  to?: string;
  headings?: string;
  ogImage?: string;
}

const { title, description, author, backTitle, to, headings, ogImage } =
  Astro.props;

const ogImageUrl = ogImage
  ? `${import.meta.env.SITE}${ogImage}`
  : `${import.meta.env.SITE}/favicon.svg`;
console.log(ogImageUrl);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const applyThemePreference = (isDark) => {
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  };

  const updateThemePreference = () => {
    const isDark = getThemePreference() === "dark";
    applyThemePreference(isDark);
  };

  // Apply initial theme preference
  updateThemePreference();

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }

  // Listen for changes in system theme preference
  const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
  mediaQuery.addEventListener("change", (event) => {
    const isDark = event.matches;
    applyThemePreference(isDark);
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/computer-modern/bright.css" />
    <link rel="stylesheet" href="../styles/computer-modern/concrete.css" />
    <link rel="stylesheet" href="../styles/computer-modern/sans.css" />
    <link rel="stylesheet" href="../styles/computer-modern/serif.css" />
    <link rel="stylesheet" href="../styles/computer-modern/typewriter.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={author} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@raillyhugo" />
    <meta name="twitter:creator" content="@raillyhugo" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:image:alt" content={title} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="color-scheme" content="light dark" />
    <meta name="robots" content="follow, index" />
    <meta name="googlebot" content="follow, index" />
    <meta property="og:image" content={`${import.meta.env.SITE}${ogImage}`} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="400" />
    <CounterscaleScript />
  </head>
  <body class="dotted-background min-w-screen h-full">
    <div class="top-blur"></div>
    {backTitle && to && <BackTo title={backTitle} to={to} />}
    {headings && <TOC headings={headings} />}
    <main
      class="dark:selection:bg-stone-800 selection:bg-muted prose prose-p:text-foreground dark:prose-invert font-sans mx-auto my-12 max-w-[768px] px-6 antialiased sm:my-32 md:my-16 prose-headings:font-semibold prose-a:decoration-muted-foreground/30 dark:prose-a:decoration-muted-foreground/70 prose-a:underline-offset-2 hover:prose-a:decoration-muted-foreground/70 dark:hover:prose-a:decoration-muted-foreground transition-colors duration-500 prose-hr:border-border prose-blockquote:border-foreground/70"
    >
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
