---
import TOC from "@/components/TOC.astro";
import BaseLayout from "../layouts/base-layout.astro";

const { title, description, date, image, headings } = Astro.props;
---

<BaseLayout title={title} description={description} author="Railly Hugo">
  <!-- Back button -->
  <a
    href="/blog"
    class="text-muted-foreground items-center inline-flex gap-2 mb-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-move-left"
      ><path d="M6 8L2 12L6 16"></path><path d="M2 12H22"></path></svg
    >
    Back
  </a>
  <div class="relative bg-card text-card-foreground p-8 rounded-lg shadow-lg">
    {
      image && (
        <img
          src={image}
          alt={title}
          class="absolute inset-0 w-full h-full object-cover opacity-20 rounded-lg m-0"
        />
      )
    }
    <div class="relative z-10">
      <h1 class="text-4xl font-bold">{title}</h1>
      <p class="text-lg mt-2">{description}</p>
      <p class="text-sm mt-1 text-muted-foreground">{date}</p>
    </div>
  </div>
  <section class="mt-8 flex">
    <div class="prose dark:prose-invert mx-auto w-full">
      <slot />
    </div>
  </section>
</BaseLayout>
